@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SatvaPartyRegister.Presentation.Web.Models.AccountantAdvocate.AddUpdateAccountantAdvocateViewModel
<div class="card-panel">
    <div class="row">
        @using (Html.BeginForm("Create", "AccountantAdvocate", FormMethod.Post))
        {
            <div class="input-field col s12 l4">
                @Html.TextBoxFor(w => w.Name, string.Empty, new { placeholder = string.Empty })
                @Html.LabelFor(w => w.Name)
            </div>
            <div class="input-field col s12 l4">
                @Html.TextBoxFor(w => w.MobileNumber, string.Empty, new { placeholder = string.Empty })
                @Html.LabelFor(w => w.MobileNumber)
            </div>
            <div class="input-field col s12 l4">
                @Html.TextBoxFor(w => w.EmailAddress, string.Empty, new { placeholder = string.Empty })
                @Html.LabelFor(w => w.EmailAddress)
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
